// Define variables for your color scheme

// For example:
$teal: #35838d;
$orange: #ee4a34;
$gray: #0E0000;
$light-gray: #F4F4F4;
$white: #ECE4B7;
$black: #131C1B;



$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$green: #1EDD88;
