// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.grid-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto;

  padding: 10px;
}

.grid-item{
  overflow: hidden;
  height: 150px;
  width: 300px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  padding: 16px;
  margin: 15px;
  margin-top: 50px;
}


.grid-item p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.grid-item img {
  height: 100%;
  width: 90px;
  object-fit: cover;
  padding: 10px;
}

h2 {
  padding-left: 70px;

}

// body {
//   position: relative;
//    margin: 0;
//    padding-bottom: 6rem;
//    min-height: 100%;
// }

