// Specific CSS for your home-page
.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.grid-container{
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto;

  padding: 10px;
}

.grid-item{
  overflow: hidden;
  height: 220px;
  width: 475px;
  background: white;
  display: flex;
  align-items: center;
  padding: 20px;
  margin: 15px;
  margin-top: 30px;
  position: relative;
}

.grid-item-info {
  padding-left: 15px;
}

#supply-pricing {
  color: $teal;
  font-size:larger;
}

.grid-item p {
  font-size: 16px;
  line-height: 1.2;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.grid-item a {
color: $black;
}

.grid-item a:hover {
text-decoration: none;
}

.grid-item img {
  height: 100%;
  width: 160px;
  object-fit: cover;
}

h2 {
  padding: 20px;
  padding-left: 50px;

}

body {
  margin-bottom: 80px;
 }

.user-avatar img {
  color: $teal;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 30px;
  position: absolute;
  right: 20px;
  top: 180px;
  opacity: 0.8;
  transform: rotate(15deg);
  font-weight: lighter;

  }
