<div class="booking-container">
  <div class="booking-card">
    <h1>All my Bookings</h1>
    <% @bookings.each do |b| %>
      <div id="card-show">
        <div class="card-show-info">
          <p>
            <div class="Supply">
              <p><%= (b.end_date - b.start_date).to_i %> days until your rental starts</p>
              <h4><%= link_to b.supply.title, b.supply %></h4>
              <%= image_tag "gogh.png" %>
            </div>
          </p>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Back Home", root_path %>
</div>
