<div class="container">
  <h1>My Supplies</h1>
  <h2>All My Supplies</h2>
    <% @supplies.each do |supply| %>
      <div class="grid-item">
          <div class="grid-item-img">
            <%= cl_image_tag supply.photo %>
          </div>
          <div class="grid-item-info">
            <h4><%= link_to supply.title, supply_path(supply) %> </h4>
            <p>accept | reject | pending</p>
            <div class="user-avatar">
              <%= image_tag "gogh.png" %>
            </div>
          </div>
        </div>
      <% end %>

  <h2>Others</h2>
  <div class="btn btn-light">
  <%= link_to "Back Home", root_path %>
  </div>
</div>
