
  <div class="container">
      <div class="row">
        <div class="col">
          <h1>WOWOOWOOWOWOOW</h1>
          <p>Find me in app/views/supplies/show.html.erb</p>






        </div>
      </div>
    </div>

  <div class="return">
    <%= link_to "back to supplies", supplies_path %>
  </div>
