a {
color: $black;
}

a:hover {
  text-decoration: none;
  color: $light-gray;
}

.form-inline .form-group {
  display: contents;
}


.form-group {
  width: 800px;
  display: contents;
}

.form-check {
  color: $teal;
  width: 100px;
  padding: 6px;
}

.input.categories {
  display: inline;
  padding: 5px;
}

.category-box {
  border: 1px solid $light-gray;
  border-radius: 5px;
  background-color: white;
  margin: 40px;
  padding: 15px;

}


label.collection_check_boxes {
  display: flex;
  float: none;
  vertical-align: 2px;
  margin-right: 5px;
  padding: 1px;
}
