.navbar-lewagon {
  display: flex;
  background: $teal;
  font-family: $body-font;
  color: $white;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon h1{
  font-family: $h1-font;
  color: $white;
}

.navbar-light .navbar-nav .nav-link {
  color: $white;
}

.navbar p {
  margin: 0;
}

.search-supply {
  padding: 10px;
}

.left-navbar {
  display: flex;
}

.avatar-login {
padding-top: 5px;
}
